@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono&display=swap');
/* 
:root {
  --pink: #FF6978;
} */

html {
  font-size: 1rem;
  font-family: 'Space Mono';
}

body {
  font-size: 2rem;
}

._pink {
  color: #FF6978 !important;
  /* try to not use the important */
}

._minH15 {
  min-height: 15rem;
}

a:visited {
  color: var(--pink);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(+10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInAnimation {
  animation: fadeIn linear 0.5s;
}

#defaultCanvas0 {
  display: block;
  margin: 0 auto;
}

.sketchThumbnail p{
  /* figure out variables */
  transition-duration: 0.2s;
  /* display: none; */
  opacity: 0;
  top: 40%;
  transform: scale(0.9);
}

.sketchThumbnail:hover p{
  display: block;
  opacity: 1;
  transform: scale(1);
}

.sketchThumbnail:hover img{
  opacity: 0.9;
  /* filter: brightness(50%); */
}

.f0 {
 font-size: 0; 
}