@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Space+Mono&display=swap');

html {
  font-size: 1rem;
  font-family: 'Space Mono';
}

body {
  /* font-family: sans-serif; */
  font-size: 2rem;
}